.button {
    height: 50px;
    border: none;
    box-sizing: border-box;

    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    
    text-transform: uppercase;

    &-medium {
        width: 245px;
    }

    &-small {
        width: 168px;
    }

    &-large {
        width: 245px;
    }

    &-gray {
        color: #444444;

        background-color: #f2f2f2;
    }

    &-green {
        color: #fff;

        background-color: #68b738;
    }
}