.sup {
    margin-top: 50px;
    margin-bottom: 80px;

    &__title {
        position: relative;
        font-size: 36px;
        font-weight: normal;
        margin-bottom: 55px;

        &::before {
            position: absolute;
            top: 30px;
            left: -110px;

            content: '';
            display: block;
            border-bottom: 3px solid #68b738;
            width: 70px;
        }

        &::after {
            position: absolute;
            top: 30px;
            left: 375px;

            content: '';
            display: block;
            border-bottom: 3px solid #68b738;
            width: 955px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        width: 895px;
        padding: 0;
        margin: 0;
        
        list-style: none;
        
        &-item {
            padding: 15px 0;
            border-top: 1px solid #cdcdcd;
            
            &:last-of-type {
                border-bottom: 1px solid #cdcdcd;
            }
        }
    }

    &__item-title {
        display: inline-block;
        width: 245px;
        margin-right: 80px;

        font-size: 20px;
        text-transform: uppercase;
    }

    &__size, &__price {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }

    &__size {
        display: inline-block;
        width: 200px;
        margin-right: 40px;
    }

    &__price {
        display: inline-block;
        width: 45px;
        margin-right: 25px;
    }

    &__all {
        position: relative;
        width: 245px;

        background-image: url('./gift-photo-desktop.jpg');
        background-repeat: no-repeat;

        &::after {
            content: '';
            position: absolute;
            top: 60px;
            right: 95px;

            display: block;
            width: 60px;
            height: 60px;

            background-image: url('./gift.png');
            background-repeat: no-repeat;
        }

        &-text {
            width: 165px;
            margin: 190px auto 0;

            font-size: 16px;
            line-height: 20px;
            font-family: Arial, Helvetica, sans-serif;
            color: #fff;
            text-align: center;
        }
    }
}