.example {
    position: relative;
    margin-top: 70px;

    @media screen and (max-width: 768px) {
        margin-top: 50px;
    }

    &__title {
        padding-left: 110px;

        font-size: 60px;
        line-height: 60px;
        font-weight: normal;

        @media screen and (max-width: 768px) {
            padding-left: 30px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;

        padding: 70px 110px 40px;

        background-color: #f2f2f2;

        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
            padding: 50px 0;
            padding-bottom: 0;

            background-color: #fff;
        }
    }

    &__left {
        width: 435px;

        @media screen and (max-width: 768px) {
            width: 100%;
            margin-bottom: 250px;
            padding: 0 30px;
        }
    }

    &__right {
        margin-top: 263px;

        @media screen and (max-width: 768px) {
            width: 100%;
            margin-top: 0;
            padding: 0 95px;
            
            background-color: #f2f2f2;
        }
    }

    &__text {
        margin-bottom: 50px;
        margin-top: 0;

        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 24px;
    }

    &__cost {
        margin-top: 40px;

        font-size: 20px;
        text-transform: uppercase;

        @media screen and (max-width: 768px) {
            display: none;
        }

        &--table {
            display: none;
            width: 175px;
            margin-top: 0;
            margin-left: auto;

            text-align: right;

            @media screen and (max-width: 768px) {
                display: inline-block;
            }
        }

        &-exact {
            margin-left: 65px;
        }
    }

    &__numbers {
        display: block;

        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
    }

    &__fancy, &__legend, &__numbers {
        transform: rotate(180deg);
    }

    &__fancy {
        width: 160px;
        box-sizing: border-box;
    }

    &__fancy:first-of-type {
        margin-right: 40px;
    }

    &__legend {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        text-transform: lowercase;
    }

    &__wrapper {
        display: flex;

    }

    &__catWas {
        position: absolute;
        top: -60px;
        left: 700px;
        // clip: rect(0, 340px, 499px, auto);
        object-fit: cover;
        object-position: left top;
        z-index: 5;
        @media screen and (max-width: 768px) {
            top: 450px;
            left: 30px;
        }
    }

    &__catBecame {
        position: absolute;
        right: 150px;
        top: -0px;
        
        @media screen and (max-width: 768px) {
            top: 505px;
            left: 180px;
        }
        
    }

    &__slider {
        width: 450px;
        margin-left: 10px;
        margin-right: 10px;

        @media screen and (max-width: 768px) {
            margin-top: 350px;
            margin-bottom: 70px;
        }
    }

    &__label {
        display: inline-block;

        border-bottom: 1px dotted #bebebe;

        font-size: 20px;
        text-transform: uppercase;

        cursor: pointer;

        &:hover {
            border-bottom: 1px solid #989898;
        }

        &:active {
            border-bottom: none;
        }
        
    }
}