.footer {
    &__map {
        border: none;
        width: 1440px;
        height: 400px;

        @media screen and (max-width: 768px) {
            width: 768px;
            height: 395px;
        }
    }

    &__top {
        position: relative;
    }

    &__modal {
        position: absolute;
        top: 90px;
        left: 75px;
        display: flex;
        justify-content: space-between;
        width: 570px;
        height: 200px;
        padding: 60px 75px;
        box-sizing: border-box;

        background-color: white;

        @media screen and (max-width: 768px) {
            position: static;
            width: 100%;
        }

        &-title {
            width: 155px;
            margin: 0;

            font-size: 20px;
            text-transform: uppercase;
            font-weight: normal;
        }

        &-address {
            width: 160px;
            margin: 0;

            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            line-height: 20px;

            @media screen and (max-width: 768px) {
                text-align: right;
            }
        }

        &-city {
            display: inline-block;
            margin-top: 27px;
        }
    }

    &__bottom {
        position: relative;
        top: -5px;

        display: flex;
        padding: 55px 110px 40px 110px;

        background-color: #f2f2f2;

        @media screen and (max-width: 768px) {
            padding: 55px 20px 40px;
        }
    }

    &__social {
        display: flex;
        align-items: top;
        padding: 0;
        margin: 0;
        margin-left: 410px;

        list-style: none;

        @media screen and (max-width: 768px) {
            margin-left: 165px;
        }

        &-item {
            position: relative;
            top: -17px;
            display: inline-block;
            width: 30px;
            height: 30px;

            color: #f2f2f2;
            font-size: 1px;

            background-repeat: no-repeat;
            background-position: center;


            &--vk {
                margin-right: 27px;

                background-image: url('./vk.png');

                &:hover {
                    background-image: url('./vk-hover.png');
                }

                &:active {
                    background-image: url('./vk-active.png');
                }
            }

            &--insta {
                background-image: url('./insta.png');
                margin-right: 23px;

                &:hover {
                    background-image: url('./insta-hover.png');
                }

                &:active {
                    background-image: url('./insta-active.png');
                }
            }

            &--fb {
                background-image: url('./fb.png');

                &:hover {
                    background-image: url('./fb-hover.png');
                }

                &:active {
                    background-image: url('./fb-active.png');
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .footer__alt {
        background-color: #f2f2f2 !important;
    }
}